body{
  background-color: #888888;
  align-content: center;
}

table{
  background: linear-gradient(#E91E63, #FFFFFF);
  width: 100%;
  border-radius: 25px 25px 25px 25px;
  border: 3px solid black;
}

tr{
  height: 100px;
}

caption{
  text-transform: uppercase;
  margin: 30px 30px;
  font-family: "Arial";
  font-size: 250%;
  color: #FFFFFF;
}

thead{
  font-family: "Lucida Handwriting";
  text-decoration: underline;
}

td{
  text-align: center;
  font-size: 150%;
  font-weight: bold;
}

.old{
  opacity: 0.25;
}
